
/* About Styling */

.about-section{
    background-color: var(--main-dark-purple);
    padding: 12rem 0 12rem 0;
    box-shadow: 0px -12px 20px 4px var(--main-dark-purple);
    align-self: center;
    /* border: 1px solid red; */
}

.about-wrapper{
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* About Section text */

.about-title{
    color:var(--main-white);
    font-family: 'Poppins', monospace;
    font-size: 3rem;
}

.about-text-img{
    display:flex;
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.about-text{
    width: 50%;
}

.about-paragraph{
    font-size: 18px;
    color:var(--main-light-purple);
    letter-spacing: .25px;
    font-weight: 300;
    background-color: hsl(245, 36%, 14%);
    padding: 15px;
    border-radius: 6px;
    margin: 10px 0;
}

.about-skills{
    color:var(--main-white);
    font-family: 'Poppins', monospace;
    font-size: 1.5rem;
    padding-top: 20px;
}

.skills-list{
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.skill-list-item{
    color: var(--main-light-purple);
    font-size: 1.2rem;
    padding: 1%;
}

.pink{
    color: var(--main-pink);
    font-weight: bold;
}

/* About Slideshow */

.about-slideshow{
    width: 600px;
    margin: auto;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slideshow-btns{
    display:flex;
    margin: 0 auto;
    align-items: center;
    gap: 5px;
}

.slideshow-img{
    width: 75%;
    height: 75%;
    z-index: 2;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: 1px 0px 12px 1px rgb(11, 5, 31);
}

.fadeIn{
    animation: fadeIn 0.5s;
}

.fadeOut{
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Image Slideshow Dots & caption */

.caption{
    padding: 15px;
    color: var(--main-light-purple);
    text-align: center;
}

.fa-circle{
    color: var(--main-pink);
    margin: 5px;
    cursor: pointer;
}

.highlight, .fa-circle:hover{
    color: var(--main-white);
    text-shadow: 0px 0px 10px rgba(255, 249, 89, 1);
}


@media (max-width: 1200px){
    .about-section{
        padding: 10px 0 100px 0;
    }

    .about-text-img{
        flex-direction: column;
    }

    .about-flex{
        display: flex;
        flex-direction: column;
    }

    .about-text{
        width: 100%;
    }

    .about-wrapper{
        display:flex;
        flex-direction: column;
    }

    .about-slideshow{
        margin-top: 3rem;
        width: 100%;
        
    }

    .pink-outline{
        display:none;
    }
}

@media (max-width: 900px){
    .about-wrapper{
        width: 85%;
        padding: 3rem 0 3rem 0;
    }

    .about-slideshow{
        width: 90%;
    }
}

@media (max-width: 500px){
    .about-slideshow{
        width: 100%;
    }
}